<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Management</title>
</head>
<body>

<h2>Post List</h2>
<br>
<form th:action="@{/postPage}" method="get">
    <h3><label for="search">Search by Name Post:</label></h3>
    <input type="text" id="search" class="form-control" name="search" />
    <br>
    <button type="submit" class="operator btn btn-info">Search</button>
</form>
<br>
<span th:if="${nameError}" style="color: red" th:text="${nameError}"></span>
<br>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.namePost}"></td>
        <td>
            <a th:href="@{'/editPost/' + ${post.id}}">Edit</a>
            <form method="post" th:action="@{'/deletePost/' + ${post.id}}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>Add Post</h2>

<form method="post" th:action="@{/addPost}">
    <label>Name: <input class="form-control" type="text" minlength="1" name="namePost" required></label>
    <button type="submit">Add Post</button>
</form>

</body>
</html>
